/* GENERAL  */

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
html,
body {
  background: #e6ccb2;
  color: #111111;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  text-align: center;
}
#main {
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000000;
}

/* NAV */
nav ol.breadcrumb {
  background-color: #e6ccb2;
}
nav a {
  color: black;
  text-decoration: none;
}
nav img#logoImg {
  margin-right: 15px;
  width: 30px;
  height: 30px;
}

/* JUMBOTRON */

#jumbotron {
  background-color: #7f5539;
  margin-top: 50px;
}
h2 {
  margin-top: 20px;
  font-size: 25px;
}

/* LISTE */

.container {
  position: relative;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.3rem;
}
h3.title {
  font-size: 1.5rem;
  color: #7f5539;
  text-decoration: none;
  margin-top: 3%;
}
h4 {
  font-size: 1.3rem;
  margin-bottom: 5%;
}
.section {
  margin: 10px 0 25px 0;
}
.img-fluid {
  width: 100%;
  height: 100%;
}
li#teddy1 {
  padding-top: 10%;
}
ul:nth-child(3) {
  padding-bottom: 150px;
}
.btn-block + .btn-block {
  background-color: #9c6644;
}
a.btn.btn-block {
  background-color: #9c6644;
  text-decoration: none;
}
/* Media Queries */
@media screen and (min-width: 768px) and (max-width: 992px) {
  h1 {
  font-size: 2.5rem;
}
  h2 {
    font-size: 1.8rem;
  }
  h3.title {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.3rem;
    margin-bottom: 5%;
  }
}
/* Media Queries */
@media screen and (min-width: 992px) {
  h1 {
  font-size: 2.5rem;
  }
  h3.title {
    font-size: 2rem;
  }
}
/* PRODUCTS */

#productH1{
  margin-bottom: 5%;
  color: #7f5539;
  font-size: 2rem;
}
#product-title {
  margin: 5% 0 5% 0;
}
.product {
  margin-top: 10%;
}
#product-details {
  margin-bottom: 20px;
  padding-bottom: 150px;
}
#details {
  margin-bottom: 10px;
}
#product-image {
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}
select#selectColor{
  font-size: 0.75rem;
  }
#add-btn {
  background-color: #9c6644;
}
/* Media Queries */
@media screen and (min-width: 768px) and (max-width: 992px) {
  #productH1{
  font-size: 2.5rem;
  }
}
/* Media Queries */
@media screen and (min-width: 992px) {
  #productH1{
  font-size: 3rem;
  }
}
/* SHOPPING CART */
#shopping_cart_title {
  margin-top: 5%;
  margin-bottom: 5%;
}
#shop-tab {
  padding-bottom: 150px;
  margin-bottom: 150px;
}
#empty-shopping-cart{
  font-size: 0.7rem;
}
#tab {
  margin-bottom: 50px;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table tr {
  background-color: #e6ccb2;
  border: 1px solid #9c6644;
  padding: 0.35em;
}
table th,
table td {
  padding: 0.625em;
  text-align: center;
}
#counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
#counter .minus, .plus {
  width: 20px;
  height: 20px;
  line-height: initial;
  border: 1px solid #9c6644;
  background-color:#ffffff ;
}
p.product-quantity-input {
  width: 30px;
  height: 20px;
  align-items: center;
  margin-bottom: 0.4rem;
  font-weight: bold;
  text-align: center;
}
.product-quantity-subtract {
  margin-right: 5px;
}
.product-quantity-add {
  margin-left: 5px;
}
#small {
  font-size: 0.65em;
}
table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
a.btn.btn-light.btn-block {
  background-color: white;
}
/* Media Queries */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* h2 {
    font-size: 20px;
  } */
  #empty-shopping-card{
  font-size: 1rem;
  }
  table th {
    font-size: 0.75em;
  }
  table td {
    font-size: 0.75em;
  }
  img {
    width: 100px;
    height:80px;

  }
  .form-control {
    font-size: 0.75em;
  }
  .btn {
    font-size: 0.75em;
  }
  #teddy-1,
  #teddy-2 {
    width: 110px;
    height: 90px;
  }
}
@media screen and (max-width: 700px) {
  table {
    border: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    border-bottom: 3px solid #9c6644;
    display: block;
    margin-bottom: 1em;
  }
  table td::before {
    font-size: 0.8em;
    letter-spacing: 0.05em;
    vertical-align: middle;
  }
  table td {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    text-align: right;
  }
  table td.empty {
    display: none;
  }
  .form-control {
    width: 50%;
    margin-left: 25%;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
  a.btn.btn-light.btn-block {
    margin-bottom: 10px;
    background-color: white;
  }
}

/* PAIEMENT */
#form {
  display: flex;
  justify-content: center;
}
form#paiement {
  background: #9c6644;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  margin-bottom: 150px;
}
form#paiement fieldset {
  margin-bottom: 10px;
}
form#paiement fieldset:last-of-type {
  margin-bottom: 0;
}
form#paiement legend {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px black;
}
form#paiement {
  counter-reset: fieldsets;
}
form#paiement > fieldset > legend:before {
  content: "Étape " counter(fieldsets) " : ";
  counter-increment: fieldsets;
}
form#paiement fieldset fieldset legend {
  color: #111111;
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 0;
}
form#paiement ol li {
  background: rgba(255, 255, 255, 0.3);
  border-color: #e6ccb2;
  border-color: rgba(255, 255, 255, 0.6);
  border-style: solid;
  border-width: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}
form#paiement ol ol li {
  background: none;
  border: none;
  float: left;
}
form#paiement label {
  float: left;
  font-size: 13px;
  width: 110px;
}
form#paiement fieldset fieldset label {
  background: none no-repeat left 50%;
  line-height: 20px;
  padding: 0 0 0 30px;
  width: auto;
}
form#paiement fieldset fieldset label:hover {
  cursor: pointer;
}
button#validation-button.btn.btn-block {
  background: #e6ccb2;
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  color: #000000;
  display: block;
  font: 18px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px #ffffff;
  text-transform: uppercase;
}
form#paiement button:hover {
  background: #1e2506;
  cursor: pointer;
}
#validation-btn {
  background-color: #9c6644;
}
/* CONFIRMATION DE COMMANDE */
#confirm-message {
  margin-top: 100px;
}

/* FOOTER */
#footer {
  background-color: #7f5539;
  position: relative;
  bottom: 0;
  margin-top: 35%;
}
li.list-inline-item {
  padding-top: 10px;
}
#footer ul a {
  color: black;
}
